%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-header {
    height: 80vh;
    background-attachment: fixed;
    h1, p {
        color: white;
        text-transform: uppercase;
    }
  
    .overlay{
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
   
    }
}
.main-containner{
    width: 90%;
    margin: 50px auto;
    h1{
        text-transform: uppercase;
        margin: 100px 0;
        word-spacing: 5px;
        letter-spacing: 2px;
        font-size: 50px;
    }
    h1, h3, p {
        text-align: center;
    }
    .img-txt {
        display: flex;
        margin: 50px 0 70px;
        .img-box {
            width: 48%;
            height: 250px;
            margin: 0 20px;
            .img{
                width: 90%;
                height: 100%;
                margin: 0 auto;
    
            }
        }
        .txt-box{
            h3{
                margin-bottom: 20px;
            }
            width: 48%;
            padding: 0 30px;
        }
}

}