@import '../../Base';
.galleryCont{
  .header-gallery{
    margin: 50px auto 150px auto;
    width: 70%;
    text-align: center;
  }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .img-gallery{
        width: 32%;
        height: 250px;
        margin-bottom: 10px;
        cursor: pointer;
      
    }
}
//galleryCarousel
.galleryCarousel{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  .overlay {
    height: 100%;
    background-color: rgba(211, 211, 211,0.9);
    @extend %flex-center;
    position: relative;
  .carouselImg{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .arrow {
    @extend %arrow-style;  
  }
  i, .arrow{
    color: black;
   
  }
  i, .time {
    @extend %flex-center;
    background-color: white;
  }
  .time{
    position: absolute;
    top: 40px;
    right: 40px;
    border-radius: 50%;
    i{
      width: 38px;
      height: 38px;
      border-radius: 50%;
      font-size: 30px;
      cursor: pointer;
    }
  }
}
}